<div class="download-table-container">
    <table class="download-table">
        <thead>
            <tr>
                <th width="62%" class="first">标题</th>
                <th width="14%">发布日期</th>
                <th width="14%">下载次数</th>
                <th width="10%">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="first">注册会计师非执业会员资格申请表（新申请）.xls</td>
                <td>2018-05-02</td>
                <td>29377</td>
                <td><a href="#">下载</a></td>
            </tr>
            <tr class="bg_grey">
                <td class="first">注册会计师非执业会员资格申请表（新申请）.xls</td>
                <td>2018-05-02</td>
                <td>29377</td>
                <td><a href="#">下载</a></td>
            </tr>
            <tr>
                <td class="first">注册会计师非执业会员资格申请表（新申请）.xls</td>
                <td>2018-05-02</td>
                <td>29377</td>
                <td><a href="#">下载</a></td>
            </tr>
            <tr class="bg_grey">
                <td class="first">注册会计师非执业会员资格申请表（新申请）.xls</td>
                <td>2018-05-02</td>
                <td>29377</td>
                <td><a href="#">下载</a></td>
            </tr>
            <tr>
                <td class="first">注册会计师非执业会员资格申请表（新申请）.xls</td>
                <td>2018-05-02</td>
                <td>29377</td>
                <td><a href="#">下载</a></td>
            </tr>
            <tr class="bg_grey">
                <td class="first">注册会计师非执业会员资格申请表（新申请）.xls</td>
                <td>2018-05-02</td>
                <td>29377</td>
                <td><a href="#">下载</a></td>
            </tr>
            <tr>
                <td class="first">注册会计师非执业会员资格申请表（新申请）.xls</td>
                <td>2018-05-02</td>
                <td>29377</td>
                <td><a href="#">下载</a></td>
            </tr>
            <tr class="bg_grey">
                <td class="first">注册会计师非执业会员资格申请表（新申请）.xls</td>
                <td>2018-05-02</td>
                <td>29377</td>
                <td><a href="#">下载</a></td>
            </tr>
            <tr>
                <td class="first">注册会计师非执业会员资格申请表（新申请）.xls</td>
                <td>2018-05-02</td>
                <td>29377</td>
                <td><a href="#">下载</a></td>
            </tr>
            <tr class="bg_grey">
                <td class="first">注册会计师非执业会员资格申请表（新申请）.xls</td>
                <td>2018-05-02</td>
                <td>29377</td>
                <td><a href="#">下载</a></td>
            </tr>
        </tbody>
    </table>
</div>
