<div class="imgnews-container clearfix">
    <div class="detail-imgnews clearfix">
        <img src="/assets/images/other-images/图片新闻实例.png"/>
        <div class="imgnews-pullright">
            <i class="iconfont icon-newchunse"></i>
            <p class="imgnews-title">关于进一步明确网络申请注册会计师注册有关事项的通知</p>
            <span class="imgnews-pubdate">2018-01-12</span>
        </div>
    </div>
    <div class="detail-imgnews clearfix">
        <img src="/assets/images/other-images/图片新闻实例.png"/>
        <div class="imgnews-pullright">
            <i class="iconfont icon-newchunse"></i>
            <p class="imgnews-title">关于进一步明确网络申请注册会计师注册有关事项的通知</p>
            <span class="imgnews-pubdate">2018-01-12</span>
        </div>
    </div>
    <div class="detail-imgnews clearfix">
        <img src="/assets/images/other-images/图片新闻实例.png"/>
        <div class="imgnews-pullright">
            <i class="iconfont icon-newchunse"></i>
            <p class="imgnews-title">关于进一步明确网络申请注册会计师注册有关事项的通知</p>
            <span class="imgnews-pubdate">2018-01-12</span>
        </div>
    </div>
    <div class="detail-imgnews clearfix">
        <img src="/assets/images/other-images/图片新闻实例.png"/>
        <div class="imgnews-pullright">
            <i class="iconfont icon-newchunse"></i>
            <p class="imgnews-title">关于进一步明确网络申请注册会计师注册有关事项的通知</p>
            <span class="imgnews-pubdate">2018-01-12</span>
        </div>
    </div>
    <div class="detail-imgnews clearfix">
        <img src="/assets/images/other-images/图片新闻实例.png"/>
        <div class="imgnews-pullright">
            <i class="iconfont icon-newchunse"></i>
            <p class="imgnews-title">关于进一步明确网络申请注册会计师注册有关事项的通知</p>
            <span class="imgnews-pubdate">2018-01-12</span>
        </div>
    </div>
    <div class="detail-imgnews clearfix">
        <img src="/assets/images/other-images/图片新闻实例.png"/>
        <div class="imgnews-pullright">
            <i class="iconfont icon-newchunse"></i>
            <p class="imgnews-title">关于进一步明确网络申请注册会计师注册有关事项的通知</p>
            <span class="imgnews-pubdate">2018-01-12</span>
        </div>
    </div>
    <div class="detail-imgnews clearfix">
        <img src="/assets/images/other-images/图片新闻实例.png"/>
        <div class="imgnews-pullright">
            <i class="iconfont icon-newchunse"></i>
            <p class="imgnews-title">关于进一步明确网络申请注册会计师注册有关事项的通知</p>
            <span class="imgnews-pubdate">2018-01-12</span>
        </div>
    </div>
    <div class="detail-imgnews clearfix">
        <img src="/assets/images/other-images/图片新闻实例.png"/>
        <div class="imgnews-pullright">
            <i class="iconfont icon-newchunse"></i>
            <p class="imgnews-title">关于进一步明确网络申请注册会计师注册有关事项的通知</p>
            <span class="imgnews-pubdate">2018-01-12</span>
        </div>
    </div>
    <div class="detail-imgnews clearfix">
        <img src="/assets/images/other-images/图片新闻实例.png"/>
        <div class="imgnews-pullright">
            <i class="iconfont icon-newchunse"></i>
            <p class="imgnews-title">关于进一步明确网络申请注册会计师注册有关事项的通知</p>
            <span class="imgnews-pubdate">2018-01-12</span>
        </div>
    </div>
    <div class="detail-imgnews clearfix">
        <img src="/assets/images/other-images/图片新闻实例.png"/>
        <div class="imgnews-pullright">
            <i class="iconfont icon-newchunse"></i>
            <p class="imgnews-title">关于进一步明确网络申请注册会计师注册有关事项的通知</p>
            <span class="imgnews-pubdate">2018-01-12</span>
        </div>
    </div>
    <div class="detail-imgnews clearfix">
        <img src="/assets/images/other-images/图片新闻实例.png"/>
        <div class="imgnews-pullright">
            <i class="iconfont icon-newchunse"></i>
            <p class="imgnews-title">关于进一步明确网络申请注册会计师注册有关事项的通知</p>
            <span class="imgnews-pubdate">2018-01-12</span>
        </div>
    </div>
    <div class="detail-imgnews clearfix">
        <img src="/assets/images/other-images/图片新闻实例.png"/>
        <div class="imgnews-pullright">
            <i class="iconfont icon-newchunse"></i>
            <p class="imgnews-title">关于进一步明确网络申请注册会计师注册有关事项的通知</p>
            <span class="imgnews-pubdate">2018-01-12</span>
        </div>
    </div>
    <div class="detail-imgnews clearfix">
        <img src="/assets/images/other-images/图片新闻实例.png"/>
        <div class="imgnews-pullright">
            <i class="iconfont icon-newchunse"></i>
            <p class="imgnews-title">关于进一步明确网络申请注册会计师注册有关事项的通知</p>
            <span class="imgnews-pubdate">2018-01-12</span>
        </div>
    </div>
    <div class="detail-imgnews clearfix">
        <img src="/assets/images/other-images/图片新闻实例.png"/>
        <div class="imgnews-pullright">
            <i class="iconfont icon-newchunse"></i>
            <p class="imgnews-title">关于进一步明确网络申请注册会计师注册有关事项的通知</p>
            <span class="imgnews-pubdate">2018-01-12</span>
        </div>
    </div>
    <div class="detail-imgnews clearfix">
        <img src="/assets/images/other-images/图片新闻实例.png"/>
        <div class="imgnews-pullright">
            <i class="iconfont icon-newchunse"></i>
            <p class="imgnews-title">关于进一步明确网络申请注册会计师注册有关事项的通知</p>
            <span class="imgnews-pubdate">2018-01-12</span>
        </div>
    </div>
</div>