<div class="journal-container clearfix">
    <dl>
        <dt>
            <a href="#">
                <img src="/assets/images/other-images/journal01.png" alt="">
            </a>
        </dt>
        <dd>2018年第二期</dd>
    </dl>
    <dl>
        <dt>
            <a href="#">
                <img src="/assets/images/other-images/journal01.png" alt="">
            </a>
        </dt>
        <dd>2018年第二期</dd>
    </dl>
    <dl>
        <dt>
            <a href="#">
                <img src="/assets/images/other-images/journal01.png" alt="">
            </a>
        </dt>
        <dd>2018年第二期</dd>
    </dl>
    <dl>
        <dt>
            <a href="#">
                <img src="/assets/images/other-images/journal01.png" alt="">
            </a>
        </dt>
        <dd>2018年第二期</dd>
    </dl>
    <dl>
        <dt>
            <a href="#">
                <img src="/assets/images/other-images/journal01.png" alt="">
            </a>
        </dt>
        <dd>2018年第二期</dd>
    </dl>
    <dl>
        <dt>
            <a href="#">
                <img src="/assets/images/other-images/journal01.png" alt="">
            </a>
        </dt>
        <dd>2018年第二期</dd>
    </dl>
    <dl>
        <dt>
            <a href="#">
                <img src="/assets/images/other-images/journal01.png" alt="">
            </a>
        </dt>
        <dd>2018年第二期</dd>
    </dl>
    <dl>
        <dt>
            <a href="#">
                <img src="/assets/images/other-images/journal01.png" alt="">
            </a>
        </dt>
        <dd>2018年第二期</dd>
    </dl>
    <dl>
        <dt>
            <a href="#">
                <img src="/assets/images/other-images/journal01.png" alt="">
            </a>
        </dt>
        <dd>2018年第二期</dd>
    </dl>
    <dl>
        <dt>
            <a href="#">
                <img src="/assets/images/other-images/journal01.png" alt="">
            </a>
        </dt>
        <dd>2018年第二期</dd>
    </dl>
</div>