{{#component 'ZCY-eevee-comp-journal-list evees-comp js-comp'}}
      <div class="list-header">
            <div class="list-logo">
                  <div class="list-title">
                        <h3><i class="icon iconfont icon-news"></i>新闻资讯</h3>
                  </div>
            </div>
            <a href="#" class="style-a">更多&gt;&gt;</a>
      </div>
      <div class="content"> 
            <div class="cover-pic">
                  <img src="/assets/images/other-images/journal-cover.png" alt="">
            </div>
            <ul class="journal-num">
                  <li class="active">2018第一期</li>
                  <li>2018第二期</li>
                  <li>2018第三期</li>
                  <li>2018第四期</li>
                  <li>2018第五期</li>
                  <li>2018第六期</li>
            </ul>
            </div>
            <div class="footer">
            <p>欢迎投稿</p>
            <p>zjicpabqb@cicpa.org.cn</p>
      </div>
{{/component}}
