{{#component 'ZCY-eevee-comp-sitemap evees-comp js-comp'}}
      <div class="map-header"><p>友情链接</p></div>
      <ul class="map-content clearfix">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
      </ul>
{{/component}}
