{{#component 'ZCY-eevee-comp-announcement evees-comp js-comp'}}
  <div class="announcement-container">
    <div class="display-list">
      <div class="list-header">
        <div class="list-logo">
          <div class="list-title">
            <h3><i class="icon iconfont icon-notice"></i>新闻资讯</h3>
          </div>
        </div>
        <a href="#" class="style-a">更多&gt;&gt;</a>
      </div>
      <ul class="list-content">
        <li>
          <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11870.html" title="浙江省温州市政府部门向市鞋革行业协会购买服务项目" target="_blank" class="underline shear">
          浙江省温州市政府部门向市鞋革行业协会购买服务项目</a>
          <span class="pub-time">2018-01-18</span>
        </li>
        <li>
          <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11869.html" title="浙江省湖州市交通运输局购买公共交通服务项目" target="_blank" class="underline shear">

          浙江省湖州市交通运输局购买公共交通服务项目</a>
          <span class="pub-time">2018-01-18</span>
        </li>
        <li>
          <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11868.html" title="浙江省湖州市德清县司法局购买社区矫正服务项目" target="_blank" class="underline shear">

          浙江省湖州市德清县司法局购买社区矫正服务项目</a>
          <span class="pub-time">2018-01-18</span>
        </li>
        <li>
          <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11867.html" title="浙江省绍兴市上虞区河建办购买保洁物业管理服务项目" target="_blank" class="underline shear">

          浙江省绍兴市上虞区河建办购买保洁物业管理服务项目</a>
          <span class="pub-time">2018-01-18</span>
        </li>
        <li>
          <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11866.html" title="浙江省衢州市衢江区人社局购买职业培训服务项目" target="_blank" class="underline shear">

          浙江省衢州市衢江区人社局购买职业培训服务项目</a>
          <span class="pub-time">2018-01-18</span>
        </li>
        <li>
          <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11866.html" title="浙江省衢州市衢江区人社局购买职业培训服务项目" target="_blank" class="underline shear">

          浙江省衢州市衢江区人社局购买职业培训服务项目</a>
          <span class="pub-time">2018-01-18</span>
        </li>
        <li>
          <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11866.html" title="浙江省衢州市衢江区人社局购买职业培训服务项目" target="_blank" class="underline shear">

          浙江省衢州市衢江区人社局购买职业培训服务项目</a>
          <span class="pub-time">2018-01-18</span>
        </li>

      </ul>
    </div>
  </div>
  <!--<div class="navs-container">-->
    <!--<div class="quick-entry-x">-->
      <!--<div class="entry-ico fl">-->
        <!--<img src="../src/img/pic-party.png" alt="">-->
        <!--<div class="entry-title">-->

          <!--<p>学习贯彻神</p>-->
          <!--<p>党的十九大精神</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<ul class="fl clearfix">-->
        <!--<li class="col-6 entry-party">-->
          <!--<i class="iconfont icon-target"></i>-->
          <!--<i class=""></i>-->
          <!--<p>党员网络学院</p>-->
        <!--</li>-->
        <!--<li class="col-6 entry-expert">-->
          <!--<i class="iconfont icon-people"></i>-->
          <!--<i class=""></i>-->
          <!--<p>专家委员会专栏</p>-->
        <!--</li>-->
        <!--<li class="col-6 entry-train">-->
          <!--<i class="iconfont icon-headset"></i>-->
          <!--<i class=""></i>-->
          <!--<p>注册会计师网络培训</p>-->
        <!--</li>-->
        <!--<li class="col-6 entry-leaguer">-->
          <!--<i class="iconfont icon-phone1"></i>-->
          <!--<i class=""></i>-->
          <!--<p>会员增值服务</p>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
{{/component}}
