{{#component 'ZCY-eevee-comp-announcement evees-comp js-comp'}}
  <div class="list-header">
    <div class="list-logo">
      <div class="list-title">
        <h3><i class="icon iconfont {{_icon}}"></i>{{_title}}</h3>
      </div>
    </div>
    <a href="#" class="style-a">{{_text}}&gt;&gt;</a>
  </div>
  <ul class="list-content">
    <li>
      <span class="dot">·</span>
      <a href="#" title="" target="_blank" class="underline shear">
      浙江省会计学会 浙江省注册会计师协会关于开展2018年度会计科研课题研究报告会顺利召开</a>
      <i class="iconfont icon-newchunse"></i>
      <span class="pub-time">2018-01-18</span>
    </li>
    {{#each _DATA_}}
      <li>
        <span class="dot">·</span><a href="#" title="" target="_blank" class="underline shear">
        关于举办中小会计师事务所新业务拓展培训班的通知</a>
        <span class="pub-time">2018-01-18</span>
      </li>
    {{/each}}
  </ul> 
{{/component}}
