{{#component 'ZCY-eevee-comp-quick_entry1 evees-comp js-comp'}}
    <ul class="quick-entry-y">
        <li>
            <a href="#">
                <i class="icon-left office-search"></i>
                <span>事务所查询</span>
                <i class="iconfont icon-next"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-left evalu-query"></i>
                <span>评估机构查询</span>
                <i class="iconfont icon-next"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-left score-query"></i>
                <span>成绩查询</span>
                <i class="iconfont icon-next"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-left info-area"></i>
                <span>信息化建设专区</span>
                <i class="iconfont icon-next"></i>
            </a>
        </li>
        <li>
            <a href="/cpa/downloadpage">
                <i class="icon-left download-area"></i>
                <span>下载专区</span>
                <i class="iconfont icon-next "></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-left mail-entry"></i>
                <span>邮箱入口</span>
                <i class="iconfont icon-next"></i>
            </a>
        </li>
    </ul>
{{/component}}
