{{#component 'ZCY-eevee-comp-quickentry-x evees-comp js-comp'}}
  <div class="quick-entry-x">
      <div class="entry-ico fl">
          <img src="/assets/images/other-images/pic-party.png" alt="">
          <div class="entry-title">
              <p>学习贯彻</p>
              <p>党的十九大精神</p>
          </div>
      </div>
      <ul class="fl clearfix">
          <li class="entry-party">
              <i class="iconfont icon-target"></i>
              <i class=""></i>
              <p>党员网络学院</p>
          </li>
          <li class="entry-expert">
              <i class="iconfont icon-people"></i>
              <i class=""></i>
              <p>专家委员会专栏</p>
          </li>
          <li class="entry-train">
              <i class="iconfont icon-headset"></i>
              <i class=""></i>
              <p>注册会计师网络培训</p>
          </li>
          <li class="entry-leaguer">
              <i class="iconfont icon-phone1"></i>
              <i class=""></i>
              <p>会员增值服务</p>
          </li>
      </ul>
  </div>
{{/component}}