.ZCY-eevee-comp-quickentry-x{
    height: 137px;
    width: 740px;
    margin-top: 1px;
    .quick-entry-x{
        height: 100%;
        .entry-ico{
            position: relative;
            margin-top: 6px;
            width: 200px;
            height: 130px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 6px;
            }
            .entry-title{
                position: absolute;
                width: 100%;
                top:50%;
                margin-top: -33px;
                p{
                    color:#fff;
                    line-height: 33px;
                    font-size: 24px;
                    text-align: center;
                }
            }
        }
        ul{
          width: 540px;  
          height: 100%;
        }
        li{
            position: relative;
            float: left;
            width: 260px;
            height: 60px;
            margin-top:6px;
            margin-left: 10px;
            border-radius: 6px;
            color: #fff;
            cursor: pointer;
            p{
                position: relative;
                height: 56px;
                font-size: 20px;
                line-height: 56px;
                padding-left: 13px;
                color: inheriti;
                z-index: 3;
            }
            .iconfont{
                position: absolute;
                display: block;
                height: 66px;
                font-size: 63px;
                z-index: 2;
            }
            
        }
        .entry-party{
            background-color: #C1E4DE;
            color: #41867A;
            .iconfont{
                color: #6FB6AA;
                font-size: 64px;
                bottom: 13px;
                right: 10px;
            }
        }
        .entry-expert{
            background-color: #FEC15F;
            .iconfont{
                color: #FD9C01;
                bottom: 12px;
                right: 17px;
                width: 57px;
            }
        }
        .entry-train{
            background-color: #F69581;
            margin-top: 10px;
            .iconfont{
                color: #E26951;
                font-size: 64px;
                bottom: 14px;
                right: 14px;
            }
        }
        .entry-leaguer{
            background-color: #B7D6EC;
            color: #4986A7;
            margin-top: 10px;
            .iconfont{
                width: 39px;
                color: #64ABD3;
                bottom: 12px;
                right: 34px;
            }
        }
    }
}