{{#component "ZCY-eevee-page-controller js-comp"}}
  <div class="ZCY-eevee-page-controller-content">
    <div class="body-content" style="overflow-x: scroll">
      <div class="editor-menu">
        <div class="editor-menu-container">

          <ul class="editor-menu-control">
            <li class="currentPage">
              当前页面：<b>search</b>
            </li>
            <li>
              <button class="js-page-release">&nbsp;发布</button>
            </li>
            <li>
              <button class="js-page-save">&nbsp;保存</button>
            </li>
            <li>
              <button class="js-page-show">&nbsp;页面</button>
            </li>
            <li>
              <button class="js-page-yl">&nbsp;预览</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="ZCY-eevee-row-page" id="rowPage" data-json="{{json this._DATA_}}">

        <!--<div class="page-grid-row"></div>-->
      </div>
    </div>
    <div class="page-list-container">
      <div class="left-menu inline-block">
        <ul class="menu-li">
          <li class="active">页面配置</li>
          <li class="addAllComps">增加组件</li>
          <li class="settingComps">设置组件</li>
        </ul>
      </div>
      <div class="side-content inline-block">
        <div class="pageSet tabSwitch">

        </div>
        <div class="compsSet tabSwitch hide">

        </div>
        <div class="comps-set tabSwitch hide">

        </div>
      </div>
    </div>
  </div>
  <div class="review ZCY-eevee-page-body hide">

  </div>
{{/component}}
