{{#component 'ZCY-cap-banner evees-comp js-comp'}}
  <div class="banner-container">
      <a class="banner-close hidebanner" href="javascript:;">&nbsp;<span class="warning">3秒</span> 关闭</a>
      <h4>新版浙江省注册会计师协会网站上线啦！</h4>
      <p>热烈祝贺2018新版网站成功发布</p>
      <a class="banner-btn" href="javascript:location.reload();">立即体验</a>
  </div>
{{/component}}
