{{#component "ZCY-eevee-page-shop js-comp"}}
  <div id="topline">
    <div id="topline-container">
      <div class="topline">
        <span class="top-welcome">晚上好 ,欢迎来到浙江省注册会计师协会网站！</span>
        <span class="top-phone"><i class="iconfont icon-phone"></i> 服务热线：400-881-7190 </span>
      </div>
    </div>
  </div>
  <!-- 导航栏 -->
  <div class="ZCY-eevee-comp-daohang">
    <div id="header-container">
      <div class="header">
        <div class="header-title">
          <img src="../src/img/logo.png" alt="">
          <div>
            <p>浙江省注册会计师协会</p>
            <p>浙江省资产评估协会</p>
          </div>
        </div>
        <ul class="header-nav  lavalamp" >
          <li class="active lavalamp-item">
            <a href="#" rel_url="#">首页</a>
          </li>
          <li class="lavalamp-item">
            <a href="#" rel_url="#">协会概况</a>
          </li>
          <li class="lavalamp-item">
            <a href="#" rel_url="#">行业党建</a>
          </li>
          <li class="lavalamp-item">
            <a href="#" rel_url="#">综合管理</a>
          </li>
          <li class="lavalamp-item">
            <a href="#" rel_url="#">会员管理</a>
          </li>
          <li class="lavalamp-item">
            <a href="#" rel_url="#">业务指导</a>
          </li>
          <li class="lavalamp-item">
            <a href="#" rel_url="#">执业监督</a>
          </li>
          <li class="lavalamp-item">
            <a href="#" rel_url="#">考试之窗</a>
          </li>
          <li class="lavalamp-item">
            <a href="#" rel_url="#">人才培养</a>
          </li>
          <li class="lavalamp-item">
            <a href="#" rel_url="#">增值服务</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="banner">
    <div class="banner-container">
      <a class="banner-close hidebanner" href="javascript:;"><span class="warning">1秒</span> 关闭</a>
      <h4>新版浙江省注册会计师协会网站上线啦！</h4>
      <p>热烈祝贺2018新版网站成功发布</p>
      <a class="banner-btn" href="javascript:location.reload();">立即体验</a>
    </div>
  </div>
  <!-- 访问量条 -->
  <div id="infoline">
    <div class="infoline">
      <span class="today">2018年4月8日 星期日 农历戊戌(狗)年 二月廿三</span>
      <span class="counting">累计访问:<span class="primary">7340946</span>人次 &nbsp;&nbsp;您是今天第:<span class="primary">11219</span>位</span>
    </div>
  </div>
  <!-- 主体部分 -->
  <div id="main" class="clearfix">
    <!-- 全站搜索 -->
    <div id="g_search">
      <div class="g_search">
        <div>
          <select name="module" class="moduleselect">
            <option value="0" selected>全站搜索</option>
          </select>
        </div>
        <div class="search_wrap">
          <div>
            <i class="icon iconfont icon-sousuo"></i>
            <input type="text" name="keyword" id="keyword" class="mainkeyword" placeholder="请输入关键字">
            <i class="icon iconfont icon-Shape"></i>
          </div>
          <button class="btn fts_button btn-content" data-exact="1">搜全文</button>
          <button class="btn fts_button btn-title" data-exact="0">搜标题</button>
        </div>
      </div>
    </div>
    <!-- 图片新闻、通知公告 -->
    <div class="clearfix">
      <div id="shuffling">
        <div class="shuffling-pic js-shuffling-pic">
          <div class="list-logo">
            <div class="list-title">
              <h3><i class="icon iconfont icon-wujiaoxing2"></i>图片新闻</h3>
            </div>
          </div>
          <ul class="img" style="left: -1320px;">
            <li>
              <a href="//www.zjzfcg.gov.cn/loopPicNews/2018-03-12/11951.html" target="_blank"><img src="//sitecdn.zcy.gov.cn/site_group/prod/site_1/2018/03/12/09-51-280024695582919.jpg"></a>
              <div class=" shuffling-footer">
                <h4><a href="//www.zjzfcg.gov.cn/loopPicNews/2018-03-12/11951.html" title="政府工作报告（文字实录）" target="_blank">政府工作报告（文字实录）</a></h4>
                <p>国务院总理李克强2018年3月5日在第十三届全国人民代表大会第一次会议上政府工作报告（文字实录）</p>
              </div>
            </li>
            <li>
              <a href="//www.zjzfcg.gov.cn/loopPicNews/2018-03-12/11951.html" target="_blank"><img src="//sitecdn.zcy.gov.cn/site_group/prod/site_1/2018/03/12/09-51-280024695582919.jpg"></a>
              <div class=" shuffling-footer">
                <h4><a href="//www.zjzfcg.gov.cn/loopPicNews/2018-03-12/11951.html" title="政府工作报告（文字实录）" target="_blank">政府工作报告（文字实录）</a></h4>
                <p>国务院总理李克强2018年3月5日在第十三届全国人民代表大会第一次会议上政府工作报告（文字实录）</p>
              </div>
            </li>
            <li>
              <a href="//www.zjzfcg.gov.cn/loopPicNews/2017-12-22/7065.html" target="_blank"><img src="//sitecdn.zcy.gov.cn/site_group/prod/site_1/2017/12/22/16-50-410737372909450.jpeg"></a>
              <div class=" shuffling-footer">
                <h4><a href="//www.zjzfcg.gov.cn/loopPicNews/2017-12-22/7065.html" title="浙江省政府采购联合会成立" target="_blank">浙江省政府采购联合会成立</a></h4>
                <p>12月21日，浙江省政府采购联合会成立暨第一次会员大会在杭州召开。省财政厅、省民政厅、省机关事务管理局领导及来自省内的采购人、政府集中采购机构、社会中介（代理）机构、供应商等200余家会员单位参加大会。</p>
              </div>
            </li>
            <li>
              <a href="//www.zjzfcg.gov.cn/loopPicNews/2017-05-05/6670.html" target="_blank"><img src="//sitecdn.zcy.gov.cn/site_group/prod/site_1/2017/07/31/22-06-440830-124635514.jpg"></a>
              <div class=" shuffling-footer">
                <h4><a href="//www.zjzfcg.gov.cn/loopPicNews/2017-05-05/6670.html" title="总理再论中国经济新动能 剧透未来政策重点" target="_blank">总理再论中国经济新动能 剧透未来政策重点</a></h4>
                <p>在昨日召开的天津2016夏季达沃斯论坛开幕式上，总理阐述了中国经济一个令人欣慰的事实：尽管在规模上还难以和传统动能等量齐观，但新动能正呈快速增长态势。</p>
              </div>
            </li>
            <li>
              <a href="//www.zjzfcg.gov.cn/loopPicNews/2018-03-12/11951.html" target="_blank"><img src="//sitecdn.zcy.gov.cn/site_group/prod/site_1/2018/03/12/09-51-280024695582919.jpg"></a>
              <div class=" shuffling-footer">
                <h4><a href="//www.zjzfcg.gov.cn/loopPicNews/2018-03-12/11951.html" title="政府工作报告（文字实录）" target="_blank">政府工作报告（文字实录）</a></h4>
                <p>国务院总理李克强2018年3月5日在第十三届全国人民代表大会第一次会议上政府工作报告（文字实录）</p>
              </div>
            </li>
          </ul>
          <ul class="num">
            <li class="on"></li>
            <li class=""></li>
            <li class=""></li>
            <li class=""></li>
          </ul>
        </div>

      </div>
      <div id="announcement-outer">
        <div class="announcement-container">
          <div class="display-list">
            <div class="list-header">
              <div class="list-logo">
                <div class="list-title">
                  <h3><i class="icon iconfont icon-notice"></i>新闻资讯</h3>
                </div>
              </div>
              <a href="#" class="style-a">更多&gt;&gt;</a>
            </div>
            <ul class="list-content">
              <li>
                <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11870.html" title="浙江省温州市政府部门向市鞋革行业协会购买服务项目" target="_blank" class="underline shear">
                浙江省温州市政府部门向市鞋革行业协会购买服务项目</a>
                <span class="pub-time">2018-01-18</span>
              </li>
              <li>
                <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11869.html" title="浙江省湖州市交通运输局购买公共交通服务项目" target="_blank" class="underline shear">

                浙江省湖州市交通运输局购买公共交通服务项目</a>
                <span class="pub-time">2018-01-18</span>
              </li>
              <li>
                <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11868.html" title="浙江省湖州市德清县司法局购买社区矫正服务项目" target="_blank" class="underline shear">

                浙江省湖州市德清县司法局购买社区矫正服务项目</a>
                <span class="pub-time">2018-01-18</span>
              </li>
              <li>
                <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11867.html" title="浙江省绍兴市上虞区河建办购买保洁物业管理服务项目" target="_blank" class="underline shear">

                浙江省绍兴市上虞区河建办购买保洁物业管理服务项目</a>
                <span class="pub-time">2018-01-18</span>
              </li>
              <li>
                <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11866.html" title="浙江省衢州市衢江区人社局购买职业培训服务项目" target="_blank" class="underline shear">

                浙江省衢州市衢江区人社局购买职业培训服务项目</a>
                <span class="pub-time">2018-01-18</span>
              </li>
              <li>
                <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11866.html" title="浙江省衢州市衢江区人社局购买职业培训服务项目" target="_blank" class="underline shear">

                浙江省衢州市衢江区人社局购买职业培训服务项目</a>
                <span class="pub-time">2018-01-18</span>
              </li>
              <li>
                <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11866.html" title="浙江省衢州市衢江区人社局购买职业培训服务项目" target="_blank" class="underline shear">

                浙江省衢州市衢江区人社局购买职业培训服务项目</a>
                <span class="pub-time">2018-01-18</span>
              </li>

            </ul>
          </div>
        </div>
        <div class="navs-container">
          <div class="quick-entry-x">
            <div class="entry-ico fl">
              <img src="../src/img/pic-party.png" alt="">
              <div class="entry-title">

                <p>学习贯彻神</p>
                <p>党的十九大精神</p>
              </div>
            </div>
            <ul class="fl clearfix">
              <li class="col-6 entry-party">
                <i class="iconfont icon-target"></i>
                <i class=""></i>
                <p>党员网络学院</p>
              </li>
              <li class="col-6 entry-expert">
                <i class="iconfont icon-people"></i>
                <i class=""></i>
                <p>专家委员会专栏</p>
              </li>
              <li class="col-6 entry-train">
                <i class="iconfont icon-headset"></i>
                <i class=""></i>
                <p>注册会计师网络培训</p>
              </li>
              <li class="col-6 entry-leaguer">
                <i class="iconfont icon-phone1"></i>
                <i class=""></i>
                <p>会员增值服务</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- 行业动态、快速入口 -->
    <div class="clearfix" id="industry-outer">
      <div class="industry-box">
        <div class="display-list">
          <div class="list-header">
            <div class="list-logo">
              <div class="list-title">
                <h3><i class="icon iconfont icon-news"></i>新闻资讯</h3>
              </div>
            </div>
            <a href="#" class="style-a">更多&gt;&gt;</a>
          </div>
          <ul class="list-content">
            <li>
              <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11870.html" title="浙江省温州市政府部门向市鞋革行业协会购买服务项目" target="_blank" class="underline shear">
              浙江省温州市政府部门向市鞋革行业协会购买服务项目</a>
              <span class="pub-time">2018-01-18</span>
            </li>
            <li>
              <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11869.html" title="浙江省湖州市交通运输局购买公共交通服务项目" target="_blank" class="underline shear">

              浙江省湖州市交通运输局购买公共交通服务项目</a>
              <span class="pub-time">2018-01-18</span>
            </li>
            <li>
              <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11868.html" title="浙江省湖州市德清县司法局购买社区矫正服务项目" target="_blank" class="underline shear">

              浙江省湖州市德清县司法局购买社区矫正服务项目</a>
              <span class="pub-time">2018-01-18</span>
            </li>
            <li>
              <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11867.html" title="浙江省绍兴市上虞区河建办购买保洁物业管理服务项目" target="_blank" class="underline shear">

              浙江省绍兴市上虞区河建办购买保洁物业管理服务项目</a>
              <span class="pub-time">2018-01-18</span>
            </li>
            <li>
              <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11866.html" title="浙江省衢州市衢江区人社局购买职业培训服务项目" target="_blank" class="underline shear">

              浙江省衢州市衢江区人社局购买职业培训服务项目</a>
              <span class="pub-time">2018-01-18</span>
            </li>
            <li>
              <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11866.html" title="浙江省衢州市衢江区人社局购买职业培训服务项目" target="_blank" class="underline shear">

              浙江省衢州市衢江区人社局购买职业培训服务项目</a>
              <span class="pub-time">2018-01-18</span>
            </li>
            <li>
              <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11866.html" title="浙江省衢州市衢江区人社局购买职业培训服务项目" target="_blank" class="underline shear">

              浙江省衢州市衢江区人社局购买职业培训服务项目</a>
              <span class="pub-time">2018-01-18</span>
            </li>

          </ul>
        </div>
      </div>
      <div id="quick-entry">
        <ul class="quick-entry-y">
          <li>
            <i class="icon-left office-search"></i>
            <span>事务所查询</span>
            <i class="iconfont icon-next"></i>
          </li>
          <li>
            <i class="icon-left evalu-query"></i>
            <span>评估机构查询</span>
            <i class="iconfont icon-next"></i>
          </li>
          <li>
            <i class="icon-left score-query"></i>
            <span>成绩查询</span>
            <i class="iconfont icon-next"></i>
          </li>
          <li>
            <i class="icon-left info-area"></i>
            <span>信息化建设专区</span>
            <i class="iconfont icon-next"></i>
          </li>
          <li>
            <i class="icon-left download-area"></i>
            <span>下载专区</span>
            <i class="iconfont icon-next "></i>
          </li>
          <li>
            <i class="icon-left mail-entry"></i>
            <span>邮箱入口</span>
            <i class="iconfont icon-next"></i>
          </li>
        </ul>
      </div>
    </div>
    <!-- 培训信息、人才招聘 -->
    <div class="clearfix" id="train-outer">
      <div id="train-info">
        <div class="display-list">
          <div class="list-header">
            <div class="list-logo">
              <div class="list-title">
                <h3><i class="icon iconfont icon-news"></i>新闻资讯</h3>
              </div>
            </div>
            <a href="#" class="style-a">更多&gt;&gt;</a>
          </div>
          <ul class="list-content">
            <li>
              <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11870.html" title="浙江省温州市政府部门向市鞋革行业协会购买服务项目" target="_blank" class="underline shear">
              浙江省温州市政府部门向市鞋革行业协会购买服务项目</a>
              <span class="pub-time">2018-01-18</span>
            </li>
            <li>
              <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11869.html" title="浙江省湖州市交通运输局购买公共交通服务项目" target="_blank" class="underline shear">

              浙江省湖州市交通运输局购买公共交通服务项目</a>
              <span class="pub-time">2018-01-18</span>
            </li>
            <li>
              <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11868.html" title="浙江省湖州市德清县司法局购买社区矫正服务项目" target="_blank" class="underline shear">

              浙江省湖州市德清县司法局购买社区矫正服务项目</a>
              <span class="pub-time">2018-01-18</span>
            </li>
            <li>
              <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11867.html" title="浙江省绍兴市上虞区河建办购买保洁物业管理服务项目" target="_blank" class="underline shear">

              浙江省绍兴市上虞区河建办购买保洁物业管理服务项目</a>
              <span class="pub-time">2018-01-18</span>
            </li>
            <li>
              <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11866.html" title="浙江省衢州市衢江区人社局购买职业培训服务项目" target="_blank" class="underline shear">

              浙江省衢州市衢江区人社局购买职业培训服务项目</a>
              <span class="pub-time">2018-01-18</span>
            </li>
            <li>
              <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11866.html" title="浙江省衢州市衢江区人社局购买职业培训服务项目" target="_blank" class="underline shear">

              浙江省衢州市衢江区人社局购买职业培训服务项目</a>
              <span class="pub-time">2018-01-18</span>
            </li>
            <li>
              <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11866.html" title="浙江省衢州市衢江区人社局购买职业培训服务项目" target="_blank" class="underline shear">

              浙江省衢州市衢江区人社局购买职业培训服务项目</a>
              <span class="pub-time">2018-01-18</span>
            </li>

          </ul>
        </div>
      </div>
      <div id="recruit-outer">
        <div class="display-list">
          <div class="list-header">
            <div class="list-logo">
              <div class="list-title">
                <h3><i class="icon iconfont icon-news"></i>新闻资讯</h3>
              </div>
            </div>
            <a href="#" class="style-a">更多&gt;&gt;</a>
          </div>
          <ul class="list-content">
            <li>
              <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11870.html" title="浙江省温州市政府部门向市鞋革行业协会购买服务项目" target="_blank" class="underline shear">
              浙江省温州市政府部门向市鞋革行业协会购买服务项目</a>
              <span class="pub-time">2018-01-18</span>
            </li>
            <li>
              <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11869.html" title="浙江省湖州市交通运输局购买公共交通服务项目" target="_blank" class="underline shear">

              浙江省湖州市交通运输局购买公共交通服务项目</a>
              <span class="pub-time">2018-01-18</span>
            </li>
            <li>
              <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11868.html" title="浙江省湖州市德清县司法局购买社区矫正服务项目" target="_blank" class="underline shear">

              浙江省湖州市德清县司法局购买社区矫正服务项目</a>
              <span class="pub-time">2018-01-18</span>
            </li>
            <li>
              <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11867.html" title="浙江省绍兴市上虞区河建办购买保洁物业管理服务项目" target="_blank" class="underline shear">

              浙江省绍兴市上虞区河建办购买保洁物业管理服务项目</a>
              <span class="pub-time">2018-01-18</span>
            </li>
            <li>
              <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11866.html" title="浙江省衢州市衢江区人社局购买职业培训服务项目" target="_blank" class="underline shear">

              浙江省衢州市衢江区人社局购买职业培训服务项目</a>
              <span class="pub-time">2018-01-18</span>
            </li>
            <li>
              <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11866.html" title="浙江省衢州市衢江区人社局购买职业培训服务项目" target="_blank" class="underline shear">

              浙江省衢州市衢江区人社局购买职业培训服务项目</a>
              <span class="pub-time">2018-01-18</span>
            </li>
            <li>
              <span class="dot">·</span><a href="//www.zjzfcg.gov.cn/buyServiceExperience/2018-01-18/11866.html" title="浙江省衢州市衢江区人社局购买职业培训服务项目" target="_blank" class="underline shear">

              浙江省衢州市衢江区人社局购买职业培训服务项目</a>
              <span class="pub-time">2018-01-18</span>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <!-- 协会会刊、导航入口 -->
    <div class="clearfix" id="pub-outer">
      <div id="pub-box">
        <div class="publication">
          <div class="list-header">
            <div class="list-logo">
              <div class="list-title">
                <h3><i class="icon iconfont icon-news"></i>新闻资讯</h3>
              </div>
            </div>
            <a href="#" class="style-a">更多&gt;&gt;</a>
          </div>
          <div class="content">

          </div>
          <div class="footer">
            <p>欢迎投稿</p>
            <p>zjicpabqb@cicpa.org.cn</p>
          </div>
        </div>
      </div>
      <div id="tab-entry">
        <div class="tab-entry">
          <div class="tab-content">

          </div>
          <ul class="tab-bar">
            <li>
              <p class="tab-ico ico-office"></p>
              <p class="tab-title">事务所（评估机构）</p>
            </li>
            <li class="active">
              <p class="tab-ico ico-bookkeeper"></p>
              <p class="tab-title">各省注册会计师协会</p>
            </li>
            <li>
              <p class="tab-ico ico-asset-evalu"></p>
              <p class="tab-title">各省资产评估协会</p>
            </li>
            <li>
              <p class="tab-ico ico-gov"></p>
              <p class="tab-title">政府相关部门</p>
            </li>
            <li>
              <p class="tab-ico ico-industry"></p>
              <p class="tab-title">行业相关单位</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 友情链接 -->
    <div class="clearfix" id="sitemap">
      <div class="sitemap">
      <div class="map-header"><p>友情链接</p></div>
      <ul class="map-content clearfix">
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
  </div>
  </div>
  <!-- 页尾 -->
  <div id="fbg" >
    <div id="footer-container">
      <div class="page-footer">
        <img class="logobg" src="../src/img/logo-bg.png" alt="">
        <dl class="qrcode-layout">
          <dt><img src="../src/img/qrcode.png" alt=""></dt>
          <dd>
            <p>欢迎关注</p>
            <p>浙江省注册会计师协会</p>
            <p>官方微信公众号</p>
          </dd>
        </dl>
        <div class="copyright-layout">
          <p>联系我们&nbsp;&nbsp;|&nbsp;&nbsp;意见反馈</p>
          <p>客服热线：400-837-1020</p>
          <p>@2018浙江省注册会计师协会 版权所有</p>
          <p>
            <span>浙icp备05016489号-1&nbsp;&nbsp;</span>
            <span><img src="http://zcy-cdn.oss-cn-shanghai.aliyuncs.com/1014AN/zcy_gov_front_prod/image/footer-guohui.png"></span>
            <span>&nbsp;浙备公安：33010302001568</span>
          </p>
          <p>技术支持：政采云有限公司</p>
          <div class='police'></div>
        </div>
      </div>
    </div>
  </div>



{{/component}}
