{{#component 'ZCY-eevee-comp-infoline evees-comp js-comp'}}
  <div class="infoline">
    <span class="today">2018年4月8日 星期日 农历戊戌(狗)年 二月廿三</span>
    <span class="counting">累计访问:<span class="primary">7340946</span>人次 &nbsp;&nbsp;您是今天第:<span class="primary">11219</span>位</span>
  </div>
{{/component}}
