{{#component 'ZCY-eevee-comp-infoline evees-comp js-comp'}}
  <div class="infoline">
    <span class="today"></span>
    <span class="counting">累计访问:<span class="primary">7340946</span>人次 &nbsp;&nbsp;您是今天第:<span class="primary">11219</span>位 &nbsp;&nbsp;当前在线:<span class="primary">4</span>人</span>
  </div>
{{/component}}
