{{#component 'ZCY-eevee-comp-shuffling evees-comp js-comp'}}
  <div class="list-logo">
      <div class="list-title">
          <h3><i class="icon iconfont icon-wujiaoxing2"></i>图片新闻</h3>
      </div>
  </div>
  <ul class="img"> 
      <li>
          <a href="#" target="_blank"><img src="//sitecdn.zcy.gov.cn/site_group/prod/site_1/2018/03/12/09-51-280024695582919.jpg"></a> 
          <div class="shuffling-footer">
              <h4><a href="#" title="政府工作报告（文字实录）" target="_blank">政府工作报告（文字实录）</a></h4>
              <p>国务院总理李克强2018年3月5日在第十三届全国人民代表大会第一次会议上政府工作报告（文字实录）</p>
          </div>
      </li> 
      <li>
          <a href="//www.zjzfcg.gov.cn/loopPicNews/2018-03-12/11951.html" target="_blank"><img src="//sitecdn.zcy.gov.cn/site_group/prod/site_1/2018/03/12/09-51-280024695582919.jpg"></a> 
          <div class=" shuffling-footer">
              <h4><a href="//www.zjzfcg.gov.cn/loopPicNews/2018-03-12/11951.html" title="政府工作报告（文字实录）" target="_blank">政府工作报告（文字实录）</a></h4>
              <p>国务院总理李克强2018年3月5日在第十三届全国人民代表大会第一次会议上政府工作报告（文字实录）</p>
          </div>
      </li> 
      <li>
          <a href="//www.zjzfcg.gov.cn/loopPicNews/2017-12-22/7065.html" target="_blank"><img src="//sitecdn.zcy.gov.cn/site_group/prod/site_1/2017/12/22/16-50-410737372909450.jpeg"></a> 
          <div class=" shuffling-footer">
              <h4><a href="//www.zjzfcg.gov.cn/loopPicNews/2017-12-22/7065.html" title="浙江省政府采购联合会成立" target="_blank">浙江省政府采购联合会成立</a></h4>
              <p>12月21日，浙江省政府采购联合会成立暨第一次会员大会在杭州召开。省财政厅、省民政厅、省机关事务管理局领导及来自省内的采购人、政府集中采购机构、社会中介（代理）机构、供应商等200余家会员单位参加大会。</p>
          </div>
      </li> 
      <li>
          <a href="//www.zjzfcg.gov.cn/loopPicNews/2017-05-05/6670.html" target="_blank"><img src="//sitecdn.zcy.gov.cn/site_group/prod/site_1/2017/07/31/22-06-440830-124635514.jpg"></a> 
          <div class=" shuffling-footer">
              <h4><a href="//www.zjzfcg.gov.cn/loopPicNews/2017-05-05/6670.html" title="总理再论中国经济新动能 剧透未来政策重点" target="_blank">总理再论中国经济新动能 剧透未来政策重点</a></h4>
              <p>在昨日召开的天津2016夏季达沃斯论坛开幕式上，总理阐述了中国经济一个令人欣慰的事实：尽管在规模上还难以和传统动能等量齐观，但新动能正呈快速增长态势。</p>
          </div>
      </li> 
  </ul>
  <ul class="num">
  </ul>
{{/component}}
