{{#component 'ZCY-eevee-comp-daohang evees-comp js-comp'}}
  <div id="header-container">
    <div class="header">
      <div class="header-title">
        <img src="../src/img/logo.png" alt="">
        <div>
          <p>浙江省注册会计师协会</p>
          <p>浙江省资产评估协会</p>
        </div>
      </div>
      <ul class="header-nav  lavalamp" >
        <li class="active lavalamp-item">
          <a href="#" rel_url="#">首页</a>
        </li>
        <li class="lavalamp-item">
          <a href="#" rel_url="#">协会概况</a>
        </li>
        <li class="lavalamp-item">
          <a href="#" rel_url="#">行业党建</a>
        </li>
        <li class="lavalamp-item">
          <a href="#" rel_url="#">综合管理</a>
        </li>
        <li class="lavalamp-item">
          <a href="#" rel_url="#">会员管理</a>
        </li>
        <li class="lavalamp-item">
          <a href="#" rel_url="#">业务指导</a>
        </li>
        <li class="lavalamp-item">
          <a href="#" rel_url="#">执业监督</a>
        </li>
        <li class="lavalamp-item">
          <a href="#" rel_url="#">考试之窗</a>
        </li>
        <li class="lavalamp-item">
          <a href="#" rel_url="#">人才培养</a>
        </li>
        <li class="lavalamp-item">
          <a href="#" rel_url="#">增值服务</a>
        </li>
      </ul>
    </div>
  </div>
{{/component}}
