{{#component "ZCY-cpa-fulltext-search js-comp"}}
    {{inject 'zcyEvE/comps/header'}}
    {{inject 'zcyEvE/comps/daohang'}}
    <!-- 主体部分 -->
    <div class="clearfix main-layout">
        <div class="fts-container">
            <div class="fts_header">
                <img src="/assets/images/other-images/ftslight.png">
                <p class="title">搜索平台</p>
                <div class="search-wrap">
                    <div>
                        <i class="icon iconfont icon-sousuo"></i>
                        <input type="text" name="keyword" id="keyword" class="globalkeyword" placeholder="请输入关键字">
                        <i class="icon iconfont icon-Shape"></i>
                    </div>
                    <button class="btn-content Jbtn" data-exact="1">搜全文</button>
                    <button class="btn-title Jbtn" data-exact="0">搜标题</button>
                </div>
            </div>
            <div class="fts_session">
                <div class="condition">
                    <div class="conditionwrap clearfix">
                        <label class="left">模块</label>
                        <div class="right">
                            <div>
                                <span class="Jmodule">行业党建</span>
                                <span class="Jmodule">综合管理</span>
                                <span class="Jmodule">会员管理</span>
                                <span class="Jmodule">业务指导</span>
                                <span class="Jmodule">执业监督</span>
                                <span class="Jmodule">考试之窗</span>
                                <span class="Jmodule">人才培养</span>
                                <span class="Jmodule">增值服务</span>
                            </div>
                        </div>
                    </div>
                    <div class="conditionwrap clearfix">
                        <label class="left">时间</label>
                        <div class="right time">
                            <div>
                                <span>指定时间</span>
                                <input type="text" name="startTime" class="time date startTime" readonly="readonly">
                                -
                                <input type="text" name="endTime" class="time date endTime" readonly="readonly">
                            </div>
                            <div class="fuzzyTime">
                                <span class="Jtimeframe" data-num="0d">今日</span>
                                <span class="Jtimeframe selected" data-num="3d">近3日</span>
                                <span class="Jtimeframe" data-num="7d">近1周</span>
                                <span class="Jtimeframe" data-num="1m">近1月</span>
                                <span class="Jtimeframe" data-num="3m">近3月</span>
                                <span class="Jtimeframe" data-num="6m">近半年</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="f_head">
                        <p class="info fl"><span class="floatleft">关键字：</span><span class="key highlight">111</span></p>
                        <p class="fl">
                            <span class="search_type">全文检索</span>&nbsp;&nbsp;&nbsp;&nbsp;共找到<span class="search-total highlight">1</span>条内容&nbsp;&nbsp;&nbsp;&nbsp;查询日期从<span class="start highlight">2018-04-29</span>到<span class="end highlight">2018-05-02</span>
                        </p>
                        <div class="page fr">
                           
                        </div>
                    </div>
                    <div class="f_body">
                        <div class="list" data-id="1485776">
                            <a target="_blank" href="http://www.zjzfcg.gov.cn/innerUsed_noticeDetails/index.html?noticeId=1485776">
                            <h4>浙江省环境保护科学设计研究院关于液相色谱-电感耦合等离子体质谱联用仪采购进口产品的公示</h4>
                            <p class="text">一．采购人名称：浙江省环境保护科学设计研究院 二．进口产品公示编号: &nbsp;jkcp201805138<em>111</em>6587 三．采购项目名称：液相色谱-电感耦合等离子体质谱联用仪 四．采购组织类型：分散采购-分散委托中介 五．项目概况 序号 项目名称 数量 单位 预算金额 简要规格描述 备</p>
                            <p class="t">2018-05-02 </p>
                            <p class="t">进口产品公示 | 浙江省本级 | A021004分析仪器</p>
                            </a>
                        </div>
                        <div class="list" data-id="1485776">
                            <a target="_blank" href="http://www.zjzfcg.gov.cn/innerUsed_noticeDetails/index.html?noticeId=1485776">
                            <h4>浙江省环境保护科学设计研究院关于液相色谱-电感耦合等离子体质谱联用仪采购进口产品的公示</h4>
                            <p class="text">一．采购人名称：浙江省环境保护科学设计研究院 二．进口产品公示编号: &nbsp;jkcp201805138<em>111</em>6587 三．采购项目名称：液相色谱-电感耦合等离子体质谱联用仪 四．采购组织类型：分散采购-分散委托中介 五．项目概况 序号 项目名称 数量 单位 预算金额 简要规格描述 备</p>
                            <p class="t">2018-05-02 </p>
                            <p class="t">进口产品公示 | 浙江省本级 | A021004分析仪器</p>
                            </a>
                        </div>
                        <div class="list" data-id="1485776">
                            <a target="_blank" href="http://www.zjzfcg.gov.cn/innerUsed_noticeDetails/index.html?noticeId=1485776">
                            <h4>浙江省环境保护科学设计研究院关于液相色谱-电感耦合等离子体质谱联用仪采购进口产品的公示</h4>
                            <p class="text">一．采购人名称：浙江省环境保护科学设计研究院 二．进口产品公示编号: &nbsp;jkcp201805138<em>111</em>6587 三．采购项目名称：液相色谱-电感耦合等离子体质谱联用仪 四．采购组织类型：分散采购-分散委托中介 五．项目概况 序号 项目名称 数量 单位 预算金额 简要规格描述 备</p>
                            <p class="t">2018-05-02 </p>
                            <p class="t">进口产品公示 | 浙江省本级 | A021004分析仪器</p>
                            </a>
                        </div>
                        <div class="list" data-id="1485776">
                            <a target="_blank" href="http://www.zjzfcg.gov.cn/innerUsed_noticeDetails/index.html?noticeId=1485776">
                            <h4>浙江省环境保护科学设计研究院关于液相色谱-电感耦合等离子体质谱联用仪采购进口产品的公示</h4>
                            <p class="text">一．采购人名称：浙江省环境保护科学设计研究院 二．进口产品公示编号: &nbsp;jkcp201805138<em>111</em>6587 三．采购项目名称：液相色谱-电感耦合等离子体质谱联用仪 四．采购组织类型：分散采购-分散委托中介 五．项目概况 序号 项目名称 数量 单位 预算金额 简要规格描述 备</p>
                            <p class="t">2018-05-02 </p>
                            <p class="t">进口产品公示 | 浙江省本级 | A021004分析仪器</p>
                            </a>
                        </div>
                        <div class="list" data-id="1485776">
                            <a target="_blank" href="http://www.zjzfcg.gov.cn/innerUsed_noticeDetails/index.html?noticeId=1485776">
                            <h4>浙江省环境保护科学设计研究院关于液相色谱-电感耦合等离子体质谱联用仪采购进口产品的公示</h4>
                            <p class="text">一．采购人名称：浙江省环境保护科学设计研究院 二．进口产品公示编号: &nbsp;jkcp201805138<em>111</em>6587 三．采购项目名称：液相色谱-电感耦合等离子体质谱联用仪 四．采购组织类型：分散采购-分散委托中介 五．项目概况 序号 项目名称 数量 单位 预算金额 简要规格描述 备</p>
                            <p class="t">2018-05-02 </p>
                            <p class="t">进口产品公示 | 浙江省本级 | A021004分析仪器</p>
                            </a>
                        </div>
                        <div class="list" data-id="1485776">
                            <a target="_blank" href="http://www.zjzfcg.gov.cn/innerUsed_noticeDetails/index.html?noticeId=1485776">
                            <h4>浙江省环境保护科学设计研究院关于液相色谱-电感耦合等离子体质谱联用仪采购进口产品的公示</h4>
                            <p class="text">一．采购人名称：浙江省环境保护科学设计研究院 二．进口产品公示编号: &nbsp;jkcp201805138<em>111</em>6587 三．采购项目名称：液相色谱-电感耦合等离子体质谱联用仪 四．采购组织类型：分散采购-分散委托中介 五．项目概况 序号 项目名称 数量 单位 预算金额 简要规格描述 备</p>
                            <p class="t">2018-05-02 </p>
                            <p class="t">进口产品公示 | 浙江省本级 | A021004分析仪器</p>
                            </a>
                        </div>
                        <div class="list" data-id="1485776">
                            <a target="_blank" href="http://www.zjzfcg.gov.cn/innerUsed_noticeDetails/index.html?noticeId=1485776">
                            <h4>浙江省环境保护科学设计研究院关于液相色谱-电感耦合等离子体质谱联用仪采购进口产品的公示</h4>
                            <p class="text">一．采购人名称：浙江省环境保护科学设计研究院 二．进口产品公示编号: &nbsp;jkcp201805138<em>111</em>6587 三．采购项目名称：液相色谱-电感耦合等离子体质谱联用仪 四．采购组织类型：分散采购-分散委托中介 五．项目概况 序号 项目名称 数量 单位 预算金额 简要规格描述 备</p>
                            <p class="t">2018-05-02 </p>
                            <p class="t">进口产品公示 | 浙江省本级 | A021004分析仪器</p>
                            </a>
                        </div>
                        <div class="list" data-id="1485776">
                            <a target="_blank" href="http://www.zjzfcg.gov.cn/innerUsed_noticeDetails/index.html?noticeId=1485776">
                            <h4>浙江省环境保护科学设计研究院关于液相色谱-电感耦合等离子体质谱联用仪采购进口产品的公示</h4>
                            <p class="text">一．采购人名称：浙江省环境保护科学设计研究院 二．进口产品公示编号: &nbsp;jkcp201805138<em>111</em>6587 三．采购项目名称：液相色谱-电感耦合等离子体质谱联用仪 四．采购组织类型：分散采购-分散委托中介 五．项目概况 序号 项目名称 数量 单位 预算金额 简要规格描述 备</p>
                            <p class="t">2018-05-02 </p>
                            <p class="t">进口产品公示 | 浙江省本级 | A021004分析仪器</p>
                            </a>
                        </div>
                        <div class="list" data-id="1485776">
                            <a target="_blank" href="http://www.zjzfcg.gov.cn/innerUsed_noticeDetails/index.html?noticeId=1485776">
                            <h4>浙江省环境保护科学设计研究院关于液相色谱-电感耦合等离子体质谱联用仪采购进口产品的公示</h4>
                            <p class="text">一．采购人名称：浙江省环境保护科学设计研究院 二．进口产品公示编号: &nbsp;jkcp201805138<em>111</em>6587 三．采购项目名称：液相色谱-电感耦合等离子体质谱联用仪 四．采购组织类型：分散采购-分散委托中介 五．项目概况 序号 项目名称 数量 单位 预算金额 简要规格描述 备</p>
                            <p class="t">2018-05-02 </p>
                            <p class="t">进口产品公示 | 浙江省本级 | A021004分析仪器</p>
                            </a>
                        </div>
                        <div class="list" data-id="1485776">
                            <a target="_blank" href="http://www.zjzfcg.gov.cn/innerUsed_noticeDetails/index.html?noticeId=1485776">
                            <h4>浙江省环境保护科学设计研究院关于液相色谱-电感耦合等离子体质谱联用仪采购进口产品的公示</h4>
                            <p class="text">一．采购人名称：浙江省环境保护科学设计研究院 二．进口产品公示编号: &nbsp;jkcp201805138<em>111</em>6587 三．采购项目名称：液相色谱-电感耦合等离子体质谱联用仪 四．采购组织类型：分散采购-分散委托中介 五．项目概况 序号 项目名称 数量 单位 预算金额 简要规格描述 备</p>
                            <p class="t">2018-05-02 </p>
                            <p class="t">进口产品公示 | 浙江省本级 | A021004分析仪器</p>
                            </a>
                        </div>
                    </div>
                    <div class="f_footer clearfix">
                        <p class="page fr">
                        </p>
                    </div>
                </div>
            </div>
      </div>
    </div>
    <!-- 页尾 -->
    {{inject 'zcyEvE/comps/footer'}}
    {{inject 'zcyEvE/comps/gotopbar'}}
{{/component}}
