{{#component 'ZCY-eevee-comp-footer evees-comp js-comp'}}
      <div class="page-footer">
            <img class="logobg" src="/assets/images/other-images/logo-bg.png" alt="">
            <dl class="qrcode-layout">
                  <dt><img src="/assets/images/other-images/qrcode.png" alt=""></dt>
                  <dd>
                  <p>欢迎关注</p>
                  <p>浙江省注册会计师协会</p>
                  <p>官方微信公众号</p>
                  </dd>
            </dl>
            <div class="copyright-layout">
                  <p>联系我们&nbsp;&nbsp;|&nbsp;&nbsp;意见反馈</p>
                  <p>客服热线：400-837-1020</p>
                  <p>@2018浙江省注册会计师协会 版权所有</p>
                  <p>
                  <span>浙icp备05016489号-1&nbsp;&nbsp;</span>
                  <span><img src="/assets/images/other-images/footer-guohui.png"></span>
                  <span>&nbsp;浙备公安：33010302001568</span>
                  </p>
                  <p>技术支持：政采云有限公司</p>
                  <div class='police'></div>
            </div>
      </div>
{{/component}}
