{{#component 'ZCY-eevee-comp-header evees-comp js-comp'}}
  <div id="topline">
    <div id="topline-container">
      <div class="topline">
        <span class="top-welcome">晚上好 ,欢迎来到浙江省注册会计师协会网站！</span>
        <span class="top-phone"><i class="iconfont icon-phone"></i> 服务热线：{{this._DATA_.phone}} </span>
      </div>
    </div>
  </div>
{{/component}}
