{{#component 'ZCY-eevee-comp-header evees-comp js-comp'}}
  <div class="hide">{{json this}}</div>
      <div>
<<<<<<< HEAD
            <span class="top-welcome">欢迎来到浙江省注册会计师协会网站！</span>
            <span class="top-phone"><i class="iconfont icon-phone"></i> 服务热线：400-881-800</span>
=======
            <span class="top-welcome">晚上好 ,欢迎来到{{_DATA_.webname}}</span>
            <span class="top-phone"><i class="iconfont icon-phone"></i> 服务热线：{{_DATA_.phone}}</span>
>>>>>>> bd11c515e90cd1707a586f89601236ca823b9739
      </div>
{{/component}}
