{{#component 'ZCY-eevee-comp-header evees-comp js-comp'}}
  <div class="hide">{{json this}}</div>
      <div>
            <span class="top-welcome">晚上好 ,欢迎来到{{_DATA_.webname}}</span>
            <span class="top-phone"><i class="iconfont icon-phone"></i> 服务热线：{{_DATA_.phone}}</span>
      </div>
{{/component}}
