{{#component 'ZCY-eevee-comp-quickentry-x2 evees-comp js-comp'}}
      <ul class="tab-container">
      <li>
            <div class="entry-item-container">
                  <img src="/assets/images/other-images/tip-zzx.png" alt="">
                  <div class="entry-item"> 
                  <div class="bg-container"></div>
                  <p>中注协行业管理系统</p>
                  <p>(协会入口)</p>
                  </div>
            </div>
            <div class="entry-item-container">
                  <img src="/assets/images/other-images/tip-zzx.png" alt="">
                  <div class="entry-item">
                  <div class="bg-container"></div>
                  <p>中注协行业管理系统</p>
                  <p>（会员入口）</p>
                  </div>
            </div>
            <div class="entry-item-container">
                  <img src="/assets/images/other-images/tip-zzx.png" alt="">
                  <div class="entry-item">
                  <div class="bg-container"></div>
                  <p>中注协财务报表管理系统</p>
                  <p>子系统二期（填报版）</p>
                  </div>
            </div>
            <div class="entry-item-container">
                  <img src="/assets/images/other-images/tip-zpx.png" alt="">
                  <div class="entry-item">
                  <div class="bg-container"></div>
                  <p>中评协培训管理系统</p>
                  </div>
            </div>
            <div class="entry-item-container">
                  <img src="/assets/images/other-images/tip-zpx.png" alt="">
                  <div class="entry-item">
                  <div class="bg-container"></div>
                  <p>中评协会计师事务所</p>
                  <p>综合评价系统</p>
                  </div>
            </div>
            <div class="entry-item-container">
                  <img src="/assets/images/other-images/tip-zpx.png" alt="">
                  <div class="entry-item">  
                  <div class="bg-container"></div>
                  <p>资产评估师职业资格</p>
                  <p>登基管理系统</p>
                  </div>
            </div>
      </li>
      <li class="hide">

      </li>
      </ul>
      <ul class="tab-bar">
      <li>
            <a href="#"></a>
            <p class="tab-ico ico-office"></p>
            <p class="tab-title">事务所（评估机构）</p>
      </li>
      <li>
            <a href="#"></a>
            <p class="tab-ico ico-bookkeeper"></p>
            <p class="tab-title">各省注册会计师协会</p>
      </li>
      <li>
            <a href="#"></a>
            <p class="tab-ico ico-asset-evalu"></p>
            <p class="tab-title">各省资产评估协会</p>
      </li>
      <li>
            <a href="#"></a>
            <p class="tab-ico ico-gov"></p>
            <p class="tab-title">政府相关部门</p>
      </li>
      <li>
            <a href="#"></a>
            <p class="tab-ico ico-industry"></p>
            <p class="tab-title">行业相关单位</p>
      </li>
      </ul>
{{/component}}
